<header>
    <h3>Currencies description</h3>
</header>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Trigram</th>
            <th scope="col">Name</th>
            <th scope="col">Exchange rate (USD)</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cur of currencies">
            <th scope="row">{{ cur.trigram }}</th>
            <td>{{ cur.name }}</td>
            <td>{{ cur.exchangeRate }}</td>
        </tr>
    </tbody>
</table>